body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#elevate {
  position: relative;
  height: 700px;
}

#elevate::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('/ELEVATE4.4.png');
  background-repeat: no-repeat;
  opacity: .1;
  content: "";
  z-index: -1;
}

#navbar input {
  width: 250px;
}
#navbar button {
  height: 38px;
}
td[colspan] {
  text-align: center;
}
.MAL {
  border-left: 1px solid black;
}
.MAR {
  border-right: 1px solid black;
}
#generalStats, #siteGoals {
  margin: 20px 0;
}
#agentGoalBreakdown, .goalBreakdown, #gpEntries, #gpEntriesWeekly {
  font-size: 20px;
}
#agentGoalPercent, .entryCount, .goal-label {
  font-size: 40px;
}
#errorMsg {
  display: none;
  min-width: 200px;
  height: 38px;
  padding: 6px 0 0 10px;
  margin: 0 10px 0 0;
}